<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MsTimeReportMail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MsTimeReportMail.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="ToRecipient" serializeAs="String">
                <value>eleonora.baviera@microsoft.com;a-homujy@microsoft.com</value>
            </setting>
            <setting name="CcRecipient" serializeAs="String">
                <value>andrea.bombelli@reti.it</value>
            </setting>
            <setting name="Body" serializeAs="String">
                <value>Ciao, &lt;br/&gt; ecco il time report della settimana.</value>
            </setting>
        </MsTimeReportMail.Properties.Settings>
    </userSettings>
</configuration>